<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

			        	<!-- Database Connection Settings -->
			 
			<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
			 
			<property name="connection.url">jdbc:mysql://localhost:3306/mydb</property>
			 
			<property name="connection.username">root</property>
			 
			<property name="connection.password">Admin123</property>
			 
			<!-- Connection Pool Size (built-in) -->
			 
			<property name="connection.pool.size">1</property>
			 
			<!-- SQL Dialect -->
			 
			<property name="dialect">org.hibernate.dialect.MySQL57Dialect</property>
			 
			 
			<!-- Disable the second-level cache -->
			 
			<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
			 
			<!-- Echo all executed SQL to stdout -->
			 
			<property name="hibernate.show_sql">true</property>
			 
			<!-- Drop the existing tables and create new one -->
			 
			<property name="hbm2ddl.auto">create</property>
			 
			<!-- Mention here all the model classes along with their package name -->
			 
			<mapping class="com.my.api.UserDetails"/>
			

    </session-factory>

</hibernate-configuration>